<div class="container">
  <h2>Kullanıcılar</h2>
  <button mat-fab matTooltip="Kullanıcı Ekle" color="primary" (click)="Ekle()">
    <mat-icon aria-label="label" >add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="KullaniciAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kullanıcı Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.KullaniciAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Eposta">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.Eposta}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="AdSoyad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ad Soyad
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.AdSoyad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="KullaniciAdmin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Üyelik Yetkisi
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.KullaniciAdmin}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detay">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="primary" matTooltip="Kullanıcı Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>

