<div class="container">
  <h2>Sorular</h2>
  <button mat-fab matTooltip="Soru Ekle" color="primary" (click)="PostSoru()">
    <mat-icon aria-label="label" >add</mat-icon>
  </button>
  <p>&nbsp;</p>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="SoruAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Soru Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.SoruAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="SoruCevapSay">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cevap Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.SoruCevapSay}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="detay">
      <mat-header-cell *matHeaderCellDef> İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">

        <button mat-icon-button color="primary" matTooltip="Cevap Liste" 
        [routerLink]="['/admin/cevap', kayit.SoruId]">
          <mat-icon aria-label="label">list</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Soru Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Soru Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>

      </mat-cell>
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>
</div>
